*{
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

body{
    margin: 0px;
    padding: 0px;
    justify-items: center;
   
}

header{
    height:84px;
    width: 90%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 80px;
    padding: 20px;
    
}
header > img{
    height: 84px;
}

#tv {
    background-color: #FEEAE9;
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.tv_details {
    width: 50%;
}

.tvpic {
    height: 350px;
    object-fit: contain;
}
.led{
    font-size: 50px;
}
.price{
    font-size: 35px;
    color: rgb(245, 105, 205);
}
.button {
    display: block;
    margin-top: 20px;
    border: none;
    background-color:rgb(254, 52, 197) ;
    width: 150px;
    padding: 10px;
    font-size: 23px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
}
.categories{
    margin-left: 70px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 40px;
    margin-top: 90px;
}
#categories{
 display: flex;
 margin-top: 20px;
 gap: 24px;
 margin-bottom: 100px;
}
#watch, #bag, #shoe{
    background-color: orange;
    width: 329px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding-top: 10px;
   border-radius: 11px;
   color: white;
   font-size: 25px;
   font-weight: bold;
   cursor: pointer;
   transition: 0.5s;
}
 #bag{
    background-color: rgb(239, 38, 159);
 } 
#shoe{
    background-color: rgb(85, 38, 239);
   
}
#watch:hover, #bag:hover, #shoe:hover{
    opacity: 0.8;
    height:110px;
}
.shoes_options{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 360px;
    height: 496px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}
.shoes_options:hover{
    transform: scale(1.01);
}
.name{
    font-size: 20px;
    font-weight: bolder;
}
.desc{
    color: grey;
    font-size: 14px;
}
.prices{
    font-size: 20px;
    font-weight: bolder;
}
.btn{
    width: 168px;
    height: 52px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    transition: 0.2s;
}
.btn:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
#juta{
    display: flex;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 100px;
}
#backpack{
    display: flex;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 100px;
    flex-direction: row;
}
.back_options{
     display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 360px;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}
.back_options:hover{
    transform: scale(1.01);
}
.contact{
    background-color: #FFF2F1;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 70vw;
    height: 50px;
    cursor: pointer;
}
.submit{
    height: 50px;
    width: 100px;
    background-color: #FF136F;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:1030px){
    #categories{
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 gap: 24px;
 margin-bottom: 100px;
}
 .categories{
    margin-left: 350px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 40px;
}
 #backpack{
    display: flex;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 100px;
    flex-direction: column;
}
 #juta{
    display: flex;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 100px;
    flex-direction: column;
}
}
@media (max-width: 780px){
   #tv {
    background-color: #FEEAE9;
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
    .led{
    font-size: 30px;
}
   .price{
    font-size: 25px;
    color: rgb(245, 105, 205);
}
  .led_desc{
    font-size: 15px;
  }
}
@media (max-width: 550px){
    #tv {
    background-color: #FEEAE9;
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
    flex-direction: column;
}
  .categories{
    margin-left: 150px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 40px;
}
  .tvpic {
    height: 250px;
    object-fit: contain;
}
}
