*{
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

body{
    margin: 0px;
    padding: 0px;
    justify-items: center;
   
}

header{
    height:84px;
    width: 1128px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 80px;
    padding: 20px;
    
}
header > img{
    height: 84px;
}

#tv {
    background-color: #FEEAE9;
    width: 1128px;
    height: 455px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.tv_details {
    width: 50%;
}

.tvpic {
    height: 350px;
    object-fit: contain;
}
.led{
    font-size: 50px;
}
.price{
    font-size: 35px;
    color: rgb(245, 105, 205);
}
.button {
    display: block;
    margin-top: 20px;
    border: none;
    background-color:rgb(254, 52, 197) ;
    width: 150px;
    padding: 10px;
    font-size: 23px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.categories{
    margin-left: 70px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 40px;
}
#categories{
 display: flex;
 margin-top: 20px;
 gap: 24px;
 margin-bottom: 100px;
}
#watch{
    background-color: orange;
    width: 339px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding-top: 10px;
   border-radius: 11px;
   color: white;
   font-size: 25px;
   font-weight: bold;
   cursor: pointer;
}
#bag{
    background-color: rgb(239, 38, 159);
    width: 339px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    border-radius: 11px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
#shoe{
    background-color: rgb(85, 38, 239);
    width: 339px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    border-radius: 11px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.shoes_options{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 360px;
    height: 496px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.name{
    font-size: 20px;
    font-weight: bolder;
}
.desc{
    color: grey;
    font-size: 14px;
}
.prices{
    font-size: 20px;
    font-weight: bolder;
}
.btn{
    width: 168px;
    height: 52px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#juta{
    display: flex;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 100px;
}
#backpack{
    display: flex;
    gap: 10px;
    margin-top:20px;
    margin-bottom: 100px;
    flex-direction: row;
}
.back_options{
     display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 360px;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact{
    background-color: #FFF2F1;
    width: 1128px;
    height: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 500px;
    height: 50px;
    cursor: pointer;
}
.submit{
    height: 50px;
    width: 100px;
    background-color: #FF136F;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
